/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 65px 1fr 40px 40px;
    height: 100vh;
}

img.profile{
    height: 33px;
    border-radius: 50%;
    margin: 10px;
}

nav .container_nav{
    display: flex;
    justify-items: center;
    align-items: center;
    height: 65px
}

.container_nav a{
    margin: 10px;
    text-decoration: none;
    font-size: 13px;
    color: #666;
    
}

.container_nav .img_9points{
    height: 20px;
    margin: 10px;
}

.container_nav .campana{
    margin: 10px;
    background-color: #666;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.campana .img_campana{
    height: 12px;
    margin: 0 auto;
}
body>main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img_google{
margin-bottom: 25px
}

.search_box {
    display: flex;
    position: relative;
    width: 632px;
    height: 44px;
    box-shadow: 0px 2px 4px 0px #d4d4d4;
}
.search_box input {
    width: 100%;
    margin-right: 55px;
    border: 0px solid;
}

.icon {
    position: absolute;
    right: 15px;
    top: 10px
}

.icon>img {
    width: 25px
}

.btns{
    margin-top: 30px
}

.btns input{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #757575;
    height: 36px;
    padding: 0 16px;
    font-weight: bold;
    font-size: 13px
}

footer{
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    padding: 0px 20px;
}

.container_items{
    display: flex;
    justify-items: center;
    align-items: center;
    height: 40px;
}

.container_items span{
    margin: 10px;
    color: #666;
    font-size: 15px;
}

.container_items a{
    margin: 10px;
    text-decoration: none;
    font-size: 13px;
    color: #666;
}
.right{
    float: right;
}
.left{
    float: left;
    
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}